.filter {
  
  &.gc-input--select {
    .gc-input__el {  
      padding-left: 22px;
      .filter-drop-down{
        border:none;
        position: relative;
        max-height: 400px;
        overflow: auto;
      }  
      .gc-select__list {  
        padding-left: 20px;
        .gc-select__list-item {
          border-bottom: none;
        }
      }
    }
   }
  

  .gc-label{
    margin:0;
    // padding: 25px 20px;
    display: inline-block;
  }
  .gc-drop-down__caret{
    right: 30px;
    position: absolute;
  }
  // .gc-select__list-container{
  // }
  .gc-input__el {
    border:none;
    display: inline-block;
    
    
    // .gc-input--select{
    //   .gc-select__list-item {
    //     font-size: 1.2rem;
    //     color: $gc-form-black;
    //     border-bottom: none;
    //     padding: 0.8rem 0;

    //     &.gc-select__list-item--hovered,
    //     &:hover {
    //       color: $gc-form-primary-colour;
    //       cursor: pointer;
    //     }

    //     &.gc-select__list-item--no-opt {
    //       &:hover {
    //         color: $gc-form-black;
    //         cursor: default;
    //       }
    //     }
    //   }
    // }
    .gc-input__el--active{
    }
    .gc-drop-down__el {
      background-color: white;
      margin-top: 21px;
    }
    .gc-drop-down__value {
      display: flex;
      padding-top: 20px;
      padding-left:0px;
    }
    .gc-drop-down__value--shrink {
      display: flex;
      padding-top: 10px;
      font-size: 1.2rem;
    }
    .gc-select__list-container {
      
      .gc-select__input {
        border: none;
      }
    }
  }
  .gc-input__el--inactive{
    display:none;
  }
}

