.gc-input--select {
  .gc-input__el {

    .gc-select__list {
      // background-color: $gc-form-grey;
      // list-style: none;
      // padding: 0 1rem;
      // margin: 0;
      // left: 0;
      // right: 0;
      // border: solid 1px $gc-form-dark-grey;
      // border-radius: 0 0 0.2rem 0.2rem;
      // position: absolute;
      // box-sizing: border-box;
      // z-index: 500;
      overflow-y: scroll;
      max-height: 300px;
    }

    .gc-select__list-item {
      font-size: 1.2rem;
      color: $gc-form-black;
      border-bottom: solid 1px $gc-form-dark-grey;
      padding: 0.8rem 0;

      &.gc-select__list-item--hovered,
      &:hover {
        color: $gc-form-primary-colour;
        cursor: pointer;
      }

      &.gc-select__list-item--no-opt {
        &:hover {
          color: $gc-form-black;
          cursor: default;
        }
      }
    }

    .gc-select__list-item:last-of-type {
      border-bottom: none;
    }

    .gc-select__list-item--selected {
      font-weight: bold;
    }
  }
}
