.gc-input {
  position: relative;
  margin-bottom: 1.5rem;
}

// What the user will interact with, usually bordered
.gc-input__el {
  display: block;
  width: 100%;
  border: solid $gc-form-light-grey 1px;
  border-radius: 0.2rem;
  color: $gc-form-black;
  font-size: 1.2rem;
  padding: 0.7rem 1rem;
  box-sizing: border-box;
  resize: none;

  &.gc-input__el--no-padding {
    padding: 0;
  }

  &.gc-input__el--active,
  &:focus,
  &:active {
    border-color: $gc-form-dark-grey;
    outline: none;
  }
}

.gc-input--invalid .gc-input__el {
  border-color: $gc-form-red;
}

// TEXT
.gc-input--text .gc-input__el {

}

// PASSWORD
.gc-input--password {
  .gc-input__el {
    padding-right: 4rem;
  }
}

.gc-btn--icon {
    position: absolute;
    top: 2.1rem;
    right: 0;
    background: none;
    border: none;
    padding: 0.4rem 1rem;

    &:hover {
      cursor: pointer;
    }

    &:focus,
    &:active {
      outline: none;
    }
}

.gc-btn--icon-sml {
  box-sizing: border-box;
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;

  svg {
    width: 0.5rem;

  }
}

.gc-btn--icon,
.gc-btn--icon-sml {
  &:hover {
    cursor: pointer;
  }

  &:focus,
  &:active {
    outline: none;
  }
}
