body {
  background: white;
}

.app-wrapper {
  width: 60%;
  margin: 0 auto;
  color: #1d1c1c;
  text-transform: lowercase;
  font-family: 'Andale Mono', Tahoma
}

.app-header {
  background-color: #e8bddb;
  color: #ffffff;
  padding: 0.625em 1.25em;
  margin-bottom: 50px;
}

@import 'validation';
