// FORM STYLING
$gc-form-light-grey: #e2e2e2 !default;
$gc-form-grey: #f3f3f3 !default;
$gc-form-dark-grey: #909090 !default;
$gc-form-black: #44474b !default;

$gc-form-red: #c46e6b !default;
$gc-form-input-bg: #ffffff !default;
$gc-form-primary-colour: #e8bddb !default;

@import './general.scss';

// UI
@import './label.scss';
@import './error-message.scss';

// Input
@import './standard-input.scss';
